<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= random %></p>
    <form method="post">
      Site:
      <input type="text" name="site">
      <br>
      <input type="submit" name="gerar" value="Gerar link">
    </form>
  </body>
</html>
