<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>Codigo gerado</title>
  </head>

  <body>
  <div class="jumbotron">
  <div class="container">
  <h1><%= site %><h1>
  <a href="<%= codigo %>"><%= codigo %></h1>
  
  </div>
  </div>
  </body>
</html>
